.header {
  display: flex;
  width: 100%;
  position: relative;
  background: url("../img/header-bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 860px;
  &__menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 35px;
    list-style: none;
    li {
      margin-left: 50px;
      a {
        color: #fff;
        transition: 300ms ease;
        text-transform: uppercase;
        outline: none;
        border: 1px solid transparent;
        &:focus {
          border: 1px solid #f1af1b;
        }
        &:hover {
          color: #f1af1b;
          transition: 300ms ease;
        }
      }
    }
  }
  &__no-app {
    color: #f1af1b;
    padding-left: 63px;
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    p {
      margin: 0;
      letter-spacing: 1.7px;
      font-size: 33px;
      font-family: $gilRoyExtraB;
    }
  }
  &__content {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    &--text-wrapper {
      position: relative;
      display: block;
      float: left;
      width: calc(100% - 383px);
      text-align: right;
      h1 {
        font-size: 87px;
        width: 631px;
        color: #fff;
        display: block;
        float: right;
        margin: 0;
        font-family: $gilRoyBlack;
        line-height: 73.29px;
        text-transform: uppercase;
        span {
          font-family: $gilRoyMedium;
          letter-spacing: 0.71px;
          font-size: 48px;
        }
      }
      p{
        display: block;
        float: right;
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        line-height: 38.83px;
        letter-spacing: 0.66px;
        width: 521px;
        text-align: left;
        font-family: $gilRoyReg;
        margin-top: 45px;
        margin-right: 10px;
        span{
          font-family: $gilRoyExtraB;
        }
      }
      .disability{
        display: block;
        position: relative;
        float: right;
        text-align: right;
        margin-top: 20px;
        margin-right: 80px;
        a{
          color: #ffffff;
          font-family: $gilRoyBold;
          font-size: 17px;
          font-weight: 700;
          letter-spacing: 0.42px;
          display: inline-flex;
          span{
            color: #ffc000;
          }
        }
        img{
          width: 41px;
          height: 53px;
          object-fit: contain;
        }
      }
    }
    &--phone {
      width: 203px;
      margin-right: 180px;
      display: block;
      float: left;
      text-align: center;
      img {
        position: relative;
        top: -42px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      .button{
        top: -80px;
        position: relative;
      }
    }
  }
}