.reviews {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  &__wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 238px;
    margin-bottom: 80px;

    @include breakpoint(max-width 992px) {
      flex-wrap: wrap;
      margin-top: 30px;
      align-items: center;
      justify-content: center;
    }

    &--center {
      width: 294px;
      height: 294px;
      //box-shadow: 7px 12px 24px rgba(0, 0, 0, 0.22);
      //background-color: #f9f9f9;
      background: #fff;
      position: relative;
      @include breakpoint(max-width 992px) {
        margin: 115px 0 30px 0;
      }

      img {
        //transform: translate(-50%, 0);
        //left: 50%;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;

      }
    }
    &--right {
      width: 424px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      @include breakpoint(max-width 1200px){
        padding-left: 20px;
      }
      @include breakpoint(max-width 992px){
        width: 100%;
        padding-left: 0;
      }
      h2 {
        color: #1b1613;
        font-size: 19px;
        line-height: 23.55px;
        letter-spacing: 0.47px;
        margin-bottom: 0;
        span {
          font-family: $gilRoyBold;
        }
      }
      p {
        font-size: 17px;
        color: #1b1613;
        margin: 35px 0;
        letter-spacing: 0.42px;
        line-height: 23.55px;
      }
    }
  }
  .owl-nav {
    position: absolute;
    display: block;
    right: 0;
    bottom: -73px;
    width: 100%;
    .owl-next {
      position: absolute;
      right: 117px;
      color: #1b1613;
      bottom: 80px;
      font-size: 17px;
      line-height: 23.55px;
      letter-spacing: 0.42px;
      &:after {
        content: '';
        position: absolute;
        background: url(../img/icons/right-arrow.png) no-repeat;
        height: 39px;
        width: 39px;
        background-size: contain;
        right: -53px;
        top: -9px;
      }
    }
    .owl-prev {
      display: none;
    }
  }
}
.review-wrap{
  position: relative;
  width: calc(100% - 390px);
  float: left;
  &__wrap{
    display: flex;
    justify-content: space-between;
  }
}
.owl-height{
  height: 100%;
}