.step {
  display: flex;
  width: 100%;
  background: #f1af1b;
  position: relative;
  &__wrap {
    display: flex;
    width: 100%;
    margin-top: 75px;
    position: relative;
    padding-left: 98px;
    flex-wrap: wrap;
    flex-direction: column;
    &--header {
      display: flex;
      position: relative;
      width: 100%;
      align-items: center;
      padding-left: 82px;
      h2 {
        margin: 0;
        color: #1b1613;
        font-family: $gilRoyBlack;
        font-size: 48px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.2px;
      }
      p {
        margin: 0;
        color: #1b1613;
        font-size: 20px;
        line-height: 26px;
        max-width: 635px;
        padding-left: 10px;
      }
    }
    &--body {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      position: relative;
      justify-content: flex-end;
      .phone {
        width: 305px;
        position: relative;
        z-index: 1;
        &:after{
          content: '';
          position: absolute;
          background: url(../img/sircle.png) no-repeat 50%;
          width: 470px;
          height: 470px;
          left: -84px;
          top: -117px;
        }
        img {
          position: absolute;
          width: 100%;
          object-fit: contain;
        }
      }
      h2 {
        color: #1b1613;
        font-family: $gilRoyBlack;
        font-size: 57px;
        text-transform: uppercase;
        margin: 0;
        position: relative;
        left: -20px;
        margin-bottom: 123px;
      }
      .step-1 {
        position: relative;
        width: calc(100% - 305px);
        padding-left: 154px;
        h3 {
          color: #1b1613;
          font-family: $gilRoyExtraB;
          font-size: 39px;
          position: relative;
          font-weight: 400;
          line-height: 26px;
          margin: 0;
          margin-bottom: 36px;
          &:after {
            content: '';
            position: absolute;
            height: 111px;
            width: 111px;
            background: url("../img/icons/step1.png") center center;
            background-size: contain;
            top: -61px;
            left: -75px;
          }
          span {
            font-family: $gilRoyMedium;
          }
        }
        p{
          width: 469px;
          color: #1b1613;
          font-size: 20px;
          line-height: 26px;
          margin: 0 0 74px 0;
        }
        a{
          color: #1b1613;
          font-size: 39px;
          display: flex;
          align-items: center;
          text-align: right;
          justify-content: flex-end;
          margin-bottom: 60px;

          span{
            width: 51px;
            height: 51px;
            padding-left: 18px;
            position: relative;
            display: inline-block;
            img{
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
        .play{
          display: flex;
          position: absolute;
          bottom: -64px;
          left: 40px;
          margin: 0;
          color: #1b1613;
          font-family: $gilRoyMedium;
          font-size: 21px;
          z-index: 2;
          img{
            width: 28px;
            height: 20px;
            margin-left: 35px;
            object-fit: contain;
          }
        }
      }
    }
  }
}