.footer {
   display: block;
   float: left;
   width: 100%;
   background: #fbfbfb;
   position: relative;
   .news__header {
     margin-top: 75px;
     margin-bottom: 0;
     .title-wrap {
       h2{
         @include breakpoint(max-width 992px){
           font-size: 30px!important;
         }

       }
       span{
         @include breakpoint(max-width 992px){
           font-size: 40px!important;
         }
       }
       width: 605px;
       @include breakpoint(max-width 992px){
         width: 100%;
       }

     }
     span {
       color: #212121;
       font-size: 72px;
       font-weight: 400;
       line-height: 45.76px;
       text-transform: uppercase;
     }
   }
   &__body {
     display: flex;
     width: 100%;
     position: relative;
     @include breakpoint(max-width 992px) {
       flex-direction: column;
       align-items: center;
     }
     &--left {
       padding: 50px 30px 30px 30px;
       z-index: 5;
       width: 256px;
       box-shadow: 7px 12px 24px rgba(0, 0, 0, 0.22);
       background-color: #ffffff;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       @include breakpoint(max-width 992px) {
         max-width: 400px;
         width: 100%;
         height: 500px;
         margin-bottom: 20px;
       }
       .address, .phone, .message {
         display: flex;
         width: 100%;
         flex-direction: column;
         margin-bottom: 50px;
         align-items: center;
         p {
           margin-bottom: 0;
           margin-top: 5px;
         }
         img {
           width: 25px;
           display: inline-block;
           object-fit: contain;
           height: 30px;
         }
       }
       .address, .phone {
         p {
           text-align: center;
           color: #1b1613;
           font-size: 15px;
           line-height: 20px;

         }
       }
       .mail {
         color: #1b1613;
         font-size: 15px;
         font-weight: 500;
         line-height: 24px;
       }
       .social {
         display: flex;
         justify-content: center;
         flex-direction: row;
         a {
           width: 40px;
           margin: 0 5px;
           height: 40px;
           border-radius: 20px;
           background-color: #f1af1b;
           display: flex;
           justify-content: center;
           align-items: center;
           border: 1px solid transparent;
           box-sizing: border-box;
           color: #fff;
           transition: 300ms ease;
           &:hover {
             border: 1px #f1af1b solid;
             background: #fff;
             color: #f1af1b;
             transition: 300ms ease;
           }
           .fa {
             font-size: 20px;
           }
         }
       }
     }
     &--center {
       width: 394px;
       box-shadow: 0 4px 10px rgba(59, 59, 59, 0.2);
       background-color: #f1af1b;
       position: relative;
       display: flex;
       flex-direction: column;
       padding: 35px;
       @include breakpoint(max-width 992px) {
         max-width: 400px;
         width: 100%;
         margin-bottom: 20px;
       }
       form {
         h2 {
           margin-top: 0;
           margin-bottom: 44px;
           text-align: center;
           color: #ffffff;
           font-family: $gilRoyExtraB;
           text-transform: uppercase;
           font-size: 26px;
           font-weight: 500;
           position: relative;
           line-height: 26px;
           &:before {
             content: '';
             position: absolute;
             width: 60px;
             height: 3px;
             background-color: #ffffff;
             bottom: -20px;
             transform: translateX(-50%);
             left: 50%;
           }
           span {
             font-family: $gilRoyMedium;
             font-size: 24px;
             text-transform: none;
             display: block;
           }
         }
         input {
           width: 320px;
           height: 50px;
           background-color: #f9c247;
           padding-left: 17px;
           box-sizing: border-box;
           border: none;
           color: #fff;;
           font-size: 15px;
           font-weight: 300;
           font-family: 'Montserrat', sans-serif;
           margin-bottom: 20px;
           @include breakpoint(max-width 992px){
             width: 100%;
           }
           &::placeholder {
             opacity: 1;
           }
         }
         textarea {
           width: 320px;
           height: 143px;
           resize: none;
           background-color: #f9c247;
           padding-left: 17px;
           padding-top: 17px;
           box-sizing: border-box;
           color: #fff;
           font-size: 15px;
           font-weight: 300;
           font-family: 'Montserrat', sans-serif;
           border: none;
           @include breakpoint(max-width 992px){
             width: 100%;
           }
           &::placeholder {
             opacity: 1;
           }
         }
         .form-button {
           width: 188px;
           height: 50px;
           line-height: 49px;
           display: block;
           margin: 30px auto 0 auto;
           box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.38);
           border-radius: 25px;
           background-color: #ffffff;
           color: #181b24;
           font-family: $gilRoyHeavy;
           font-size: 15px;
           text-transform: uppercase;
           letter-spacing: 1.5px;
           transition: 300ms ease;
           border: 1px solid transparent;
           box-sizing: border-box;
           img {
             display: inline-block;
             top: -1px;
             margin-left: 10px;
             position: relative;
           }
           &:hover {
             transition: 300ms ease;
             transform: scale(1.05);
           }
         }
       }
     }
     &--right {
       width: 457px;
       position: relative;
       margin-left: 30px;
       @include breakpoint(max-width 992px) {
         margin-left: 0;
         width: 100%;
         height: 500px;
       }
     }
   }
   &__footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: row;
     padding: 50px 0;
     text-align: center;
     p {
       opacity: 0.42;
       color: #f1af1b;
       font-size: 50px;
       margin: 0;
       text-transform: uppercase;
       @include breakpoint(max-width 992px){
         width: 100%;
         font-size: 33px;
       }
     }
     &--link{
       display: flex;
       justify-content: center;
       width: 100%;
       a{
         font-size: 19px;
         margin: 42px 21px 36px;
         display: inline-block;
         color: #000;
       }
     }
   }
 }